## Q1 : (list comprehensions)Print the list in lexicographic increasing order.

In [1]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    List = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k)!=n]
    print(List)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Q2 : Find the runner up score

In [13]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    print(sorted(list(set(arr)))[::-1][1])

5
2 3 6 6 5
5

### Q3 : (Nested lists) If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [26]:
l = []
second_lowest_names = []
scores = set()

for _ in range(int(input())):
    name = input()
    score = float(input())
    l.append([name, score])
    scores.add(score)
        
second_lowest = sorted(scores)[1]

for name, score in l:
    if score == second_lowest:
        second_lowest_names.append(name)

for name in sorted(second_lowest_names):
    print(name, end='\n')

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

## Q4 : Find the percentage

In [28]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    output = list(student_marks[query_name])
    percentage = sum(output)/len(output)
    print('%.2f' % percentage)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Arjun
77.00

## Q5 : Lists

In [33]:
if __name__ == '__main__':
    N = int(input())
    Output = []
    for i in range(0,N):
        ip = input().split()
        if ip[0] == "print":
            print(Output)
        elif ip[0] == "insert":
            Output.insert(int(ip[1]),int(ip[2]))
        elif ip[0] == "remove":
            Output.remove(int(ip[1]))
        elif ip[0] == "pop":
            Output.pop()
        elif ip[0] == "append":
            Output.append(int(ip[1]))
        elif ip[0] == "sort":
            Output.sort()
        else:
            Output.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

## Q6 : Tuples

In [37]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t))

2
 1 2
-3550055125485641917

## Q7 : Sets

In [39]:
def average(array):
    sum_arr = sum(set(array))
    len_arr = len(set(array))
    output = sum_arr/len_arr
    return output

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

## Q8 : No idea

In [43]:
a = input().split()
x = int(a[0])
y = int(a[1])

storage = list()
count = 0

storage = list(map(int, input().strip().split()))

x1 = set(map(int, input().strip().split()))
y1 = set(map(int, input().strip().split()))

for i in storage:
    if i in x1:
        count = count+1
    if i in y1:
        count = count-1

print(count)

3 2
1 5 3
3 1
5 7
1

## Q9 : Symmetric Difference

In [45]:
a,b=(int(input()),input().split())
c,d=(int(input()),input().split())
x=set(b)
y=set(d)
p=y.difference(x)
q=x.difference(y)
r=p.union(q)
print ('\n'.join(sorted(r, key=int)))

4
2 4 5 9
4
2 4 11 12
5
9
11
12

## Q10 : Set.add

In [46]:
n = int(input())
countries = set()

for i in range(n):
    countries.add(input())
print(len(countries))

7
Uk
China
USA
France
New zealand
UK
France
6

## Q11 : Set .discard(), .remove() & .pop()

In [48]:
n = int(input())
s = set(map(int, input().split()))

for i in range(int(input())):
    s1 = input().split()
    if s1[0] == 'pop':
        s.pop()
    elif s1[0] == 'remove':
        s.remove(int(s1[1]))
    elif s1[0] == 'discard':
        s.discard(int(s1[1]))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

## Q12 : set.union() operation

In [52]:
n1=input()
s1=set(input().split(" "))
n2=input()
s2=set(input().split(" "))
s3=s1.union(s2)
print(len(s3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

## Q13 : set.intersection() operation

In [54]:
n1 = int(input())
a = set(input().split())

n2 = int(input())
b = set(input().split())

c = b.intersection(a)

print(len(c))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## Q14 : Set.difference() operation

In [56]:
n1=input()
a=set(input().split(" "))
n2=input()
b=set(input().split(" "))
c=a.difference(b)
print(len(c))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## Q15 : Set.symmetric_difference()

In [58]:
a = int(input())
b = input().split()
b = list(map(int, b))
c = int(input())
d = input().split()
d = list(map(int, d))

print(len(set(b).symmetric_difference(set(d))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

## Q16 : Set Mutations

In [60]:
n = int(input())
a = set(map(int,input().split()))
N = int(input())
for i in range(N):
    cmd = input().split()
    opt = cmd[0]
    s = set(map(int,input().split()))
    if (opt == 'update'):
        a |= s
    elif (opt == 'intersection_update'):
        a &= s
    elif (opt == 'difference_update'):
        a -= s
    elif (opt == 'symmetric_difference_update'):
        a ^= s
print(sum(a))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

## Q17 : The Captains Room

In [61]:
n = int(input())

a = map(int, input().split())
a = sorted(a)

for i in range(len(a)):
    if(i != len(a)-1):
        if(a[i]!=a[i-1] and a[i]!=a[i+1]):
            print(a[i])
            break;
    else:
        print(a[i])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

## Q18 : check subset

In [62]:
for i in range(int(input())): 
    a = int(input()); A = set(input().split()) 
    b = int(input()); B = set(input().split())
    print((A & B) == A)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

## Q19 : Check strict superset

In [63]:
a = set(input().split())
n = int(input())
output = True

for i in range(n):
    b = set(input().split())
    if not b.issubset(a):
        output = False
    if len(b) >= len(a):
        output = False

print(output)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False